// Main Content
.main-content {
    min-height: 100%;
    position: relative;

    .container {
        max-width: none !important;
        width: 100% !important;
        display: inline-block;
    }

    > .container {
        padding-bottom: 50px;
    }

    @media (min-width: $screen-md-min) {
        margin-top: 65px;
        margin-left: 260px;

        .app-navbar-fixed & {
            margin-top: 0;

            @include clearfix;
        }

        .app-sidebar-closed & {
            margin-left: 70px;
        }
    }

    @media (max-width: $screen-sm-max) {
        padding-top: 65px;
    }
}
