block page
	-var page = "login";

extends ../blocks/layout/layout-login

block content
	.full-page
		.full-page__wrap
			.login-box
				.login-box__media
					img(src="assets/images/brand.svg" alt="СП Сервис")
				.login-box__title
					h1 Войти через:
				.login-box__social
					ul.list-inline
						li.list-inline-item
							a.fa.fa-vk.vk_login_button(href="#")
						li.list-inline-item
							a.fa.fa-facebook.fb_login_button(href="#")
			.full-page__footer
				p &copy;&nbsp;2017 По всем вопросам обращаться <a href="https://vk.com/danila_sps" target="_blank">DGOLOVIN</a>
