include ../scripts/scripts

doctype html
html(lang='ru')
	block analitics
		-var connonicalPage = '';
	include ../head/head
	body
		#app.app.app-navbar-fixed.app-sidebar-fixed.app-footer-fixed
			// start sidebar
			#sidebar.sidebar.app-aside
				.sidebar-container.nice-scrollbar
					nav
						.navbar-title
							span Меню
						ul.main-navigation-menu
							each value in sidebar
								li(class= (value.page == page) ? 'active' : '')
									a(href=value.link)
										.item-content
											.item-media
												i(class=value.icon)
											.item-inner
												span.title!= value.title
			// end sidebar
			.app-content
				// top navbar
				header.navbar.navbar-default.navbar-toggleable-sm
					// navbar header
					.navbar-header
						a.sidebar-mobile-toggler.hidden-lg-up(data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar" href="#")
							i.ti-align-justify
						a.navbar-brand(href="#")
							img(src="assets/images/brand.svg" alt="СП Сервис")
						a#menu-toggler.pull-right.menu-toggler.hidden-md-up(data-toggle="collapse" href="#navbar-collapse")
							span.sr-only Toggle navigation
							i.ti-view-grid
					// end navbar header
					// navbar collapse
					#navbar-collapse.navbar-collapse.collapse
						ul.nav.navbar-nav.ml-auto
							// start: MESSAGES DROPDOWN
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
									i.ti-gift.shake.animated
									span Подарок
								ul.dropdown-menu.dropdown-dark.dropdown-gift.dropdown-large
									li
										.drop-down-wrapper.ps-container
											p Евгений, коллектив &laquo;СП&nbsp;ВМЕСТЕ&raquo; поздравляет Вас с&nbsp;Днем Рождения!!!
											p От&nbsp;всей души желаем Вам благополучия и&nbsp;крепкого здоровья!
											p В&nbsp;честь Дня Рождения мы&nbsp;дарим Вам заказ без орг. сбора!!!
											p P.S. Подробную информацию смотрите в&nbsp;разделе <a href="#">Скидка&nbsp;ДР <i class="ti-new-window"></i></a>.
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
									span.dot-badge.partition-red
									i.ti-comment
									span Сообщения
								ul.dropdown-menu.dropdown-light.dropdown-messages.dropdown-large
									li
										span.dropdown-header Unread messages
									li
										.drop-down-wrapper.ps-container
											ul
												li.unread
													a.unread(href="javascript:;")
														.clearfix
															.thread-image
																img(src="content/images/noavatar.png" alt="")
															.thread-content
																span.author Nicole Bell
																span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
																span.time Just Now
												li
													a.unread(href="javascript:;")
														.clearfix
															.thread-image
																img(src="content/images/noavatar.png" alt="")
															.thread-content
																span.author Steven Thompson
																span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
																span.time 8 hrs
												li
													a(href="javascript:;")
														.clearfix
															.thread-image
																img(src="content/images/noavatar.png" alt="")
															.thread-content
																span.author Kenneth Ross
																span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
																span.time 14 hrs
									li.view-all
										a(href="#") See All
							// end: MESSAGES DROPDOWN
							// start: USER OPTIONS DROPDOWN
							li.nav-item.dropdown.current-user
								a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
									img(src="content/images/noavatar.png" alt="User Name")
									span.username User Name
										i.ti-angle-down
								ul.dropdown-menu.dropdown-dark.nav-login-list
									li
										a(href="pages_user_profile.html") My Profile
									li
										a(href="pages_calendar.html") My Calendar
									li
										a(href="pages_messages.html") My Messages (3)
									li
										a(href="login_signin.html") Log Out
							// end: USER OPTIONS DROPDOWN
						// start: MENU TOGGLER FOR MOBILE DEVICES
						.close-handle.menu-toggler.hidden-md-up(data-toggle="collapse" href="#navbar-collapse")
							.arrow-left
							.arrow-right
						// end: MENU TOGGLER FOR MOBILE DEVICES
				// end top navbar
				.main-content
					#container.wrap-content.container
						block content
					include ../Widgets/modal/modal
			// start footer
			footer
				.footer-inner
					.pull-left &copy;
						| 
						span.current-year
						| 
						a.text-uppercase(href="#") DGolovin
					.pull-right
						span.go-top
							i.ti-angle-up
			// end footer

			//- include ../Widgets/footer/footer

		+scripts(['vendor/jquery-3.2.1.min.js', 'vendor/tether.min.js', 'vendor/bootstrap.min.js', 'vendor/jquery.nicescroll.min.js'])
		block scripts
		script.
			var dataMap = [
				{
					"id": 1,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "Череповецкая улица, 17",
					"coordinates": [55.898937, 37.585134],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 2,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "проезд Дежнёва, 5",
					"coordinates": [55.871152, 37.646184],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 3,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "Адмирала Лазарева, 2",
					"coordinates": [55.547036, 37.543237],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 4,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "Пролетарский проспект, 19к1",
					"coordinates": [55.641229, 37.656173],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 5,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "улица Гарибальди, 23",
					"coordinates": [55.671498, 37.553792],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 6,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "Планерная улица, 7",
					"coordinates": [55.862969, 37.434918],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 7,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "ул. Щербаковская, 7а",
					"coordinates": [55.782754, 37.726583],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 8,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "Сходненская улица, 56",
					"coordinates": [55.850408, 37.44409],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 9,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "улица Покрышкина, 5",
					"coordinates": [55.664436, 37.469216],
					"time": "пн-вс: с 9:00 до 21:00"
				},
				{
					"id": 10,
					"city": "Москва",
					"title": "Офис Бежицкий район",
					"address": "Зеленоград, к1549",
					"coordinates": [55.977944, 37.15503],
					"time": "пн-вс: с 9:00 до 21:00"
				}
			]
		script(src="assets/js/main.js")
