html,body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #5b5b60;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  direction: ltr;

  -webkit-font-smoothing: antialiased !important;
}

.app {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  height: auto;
}

.app .app-content {
  height: 100%;
}

.app .app-content:before,.app .app-content:after {
  display: table;
  content: " ";
}

.app .app-content:after {
  clear: both;
}

.app-content-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1051;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #000;
  text-align: center;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  font-size: 50px;
}

.well {
  box-shadow: none;
}

.container-fullw {
  margin-right: -15px;
  margin-left: -15px;
  padding: 30px;
}

.container-fullw + .container-fullw {
  border-top: 1px solid #eee;
}

.bg-white {
  background-color: #fff;
}

.animated {
  animation-duration: 5s;
  animation-iteration-count: infinite;

  animation-fill-mode: both;
}

.shake {
  animation-name: shake;
}

.item-content {
  display: table-row;

  align-items: center;
}

.item-content .item-media {
  display: table-cell;
  padding: 10px 15px 10px 15px;
}

.item-content .item-inner {
  display: table-cell;
  padding: 10px 15px 10px 0;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c8c7cc;

  align-items: center;
}

.no-touch .item-content .item-inner {
  transition: border 300ms linear;
}

.active .item-content .item-inner,.open .item-content .item-inner,li:last-child .item-content .item-inner {
  border-bottom-color: transparent !important;
}

.sidebar > div nav > ul {
  margin: 10px 0;
  padding: 0;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  background: #fff;
  list-style: none;
}

.sidebar > div nav > ul > li:focus {
  outline: 0 none;
}

.sidebar > div nav > ul > li a {
  border-bottom: none;
  color: #8e8e93;
}

.sidebar > div nav > ul > li a i {
  font-weight: normal;
}

.sidebar > div nav > ul > li > a {
  display: table;
}

.sidebar > div nav > ul > li.hover {
  background: #efeff0;
}

.no-touch .sidebar > div nav > ul > li:hover {
  background: #efeff0;
}

.sidebar > div nav > ul > li.active {
  background: #c8c7cc;
}

.sidebar > div nav > ul > li.active > a {
  border-top: none !important;
  color: #fff;
}

.sidebar > div nav > ul > li.active > a i {
  color: #fff;
}

.sidebar > div nav > ul li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.no-touch .sidebar > div nav > ul li {
  transition: background-color 300ms linear;
}

.sidebar > div nav > ul li.active > ul.sub-menu {
  display: block;
  padding: 0;
}

.sidebar > div nav > ul li > a {
  margin-top: -1px !important;
  font-size: 14px;
}

.sidebar > div nav > ul li > a:active:focus {
  background: #d5d4d8;
}

.no-touch .sidebar > div nav > ul li > a:hover .item-inner {
  border-bottom-color: transparent;
}

.sidebar > div nav > ul li a {
  position: relative;
  margin: 0;
  border: none;
  text-decoration: none;
  font-weight: 300;
}

.sidebar > div nav > ul li a i[class*="ti-"] {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 5px;
  font-size: 17px;
}

.sidebar > div nav > ul li a .icon-arrow {
  float: right;
  margin-right: 6px !important;
  color: #c8c7cc;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

.sidebar > div nav > ul li a .icon-arrow:before {
  content: "\e64a";
  font-family: themify;
}

.sidebar > div nav > ul li.open {
  background: #edecee;
}

.sidebar > div nav > ul li.open > a .icon-arrow {
  opacity: 1;
}

.sidebar > div nav > ul li.open > a .icon-arrow:before {
  content: "\e64b";
}

ul.sub-menu {
  display: none;
  clear: both;
  margin: 0;
  padding: 1px 0;
  background: #f7f7f8;
  list-style: none;
}

ul.sub-menu li {
  margin-top: 1px !important;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  background: none;
}

ul.sub-menu li.active,ul.sub-menu li.open {
  background: #e7e7e9 !important;
}

.no-touch ul.sub-menu li:hover {
  background: #edecee;
}

ul.sub-menu li a {
  display: block;
  margin: 0;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 52px !important;
  border: none;
  background: none;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px !important;
}

ul.sub-menu li a .icon-arrow {
  margin-right: 22px;
}

ul.sub-menu li.dropdown-header {
  padding-left: 40px !important;
}

ul.sub-menu li.divider {
  overflow: hidden;
  margin: 9px 0;
  margin-left: 40px !important;
  height: 1px;
}

ul.sub-menu li ul.sub-menu li a {
  padding-left: 60px !important;
}

ul.sub-menu li ul.sub-menu li ul.sub-menu li a {
  padding-left: 80px !important;
}

.navbar-title {
  padding: 20px 15px 5px;
  color: #808285;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 10px;
}

.s-open {
  display: none;
}

.navbar-form {
  position: relative;
  margin: 0;
  padding: 8px;
  border: none;
  background: #e2e2e4;
  box-shadow: none;
}

.navbar-form a {
  display: none;
}

.navbar-form .search-button {
  position: absolute;
  top: -2px;
  right: 5px;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  color: #c8c7cc;
  transition: all 100ms ease-in 0s;
}

.navbar-form .search-button:hover {
  transition: all 300ms ease-in 0s;
}

.navbar-form .form-control {
  display: block;
  width: 100%;
  height: 25px;
  border: medium none;
  border-radius: 0;
  border-radius: 3px !important;
  background: transparent;
  box-shadow: none;
  color: #8e8e93;
  font-size: 12px;
  transition: all 300ms ease-in 0s;
}

.navbar-form .form-control:focus {
  border-color: #c8c7cc;
  background-color: #fff !important;
  transition: all 300ms ease-in 0s;
}

.navbar-form .form-control:focus + .search-button {
  color: #aeacb4;
}

.navbar-form .form-group {
  display: block;
}

.sidebar {
  bottom: 0;
  left: 0;
  z-index: 1051;
  float: left;
  overflow: visible;
  width: 260px;
  background: #f7f7f8;
}

.sidebar > div,.sidebar .sidebar-container {
  height: 100%;
}

.app-sidebar-fixed .sidebar > .sidebar-container {
  position: relative;
  overflow-x: visible;
  overflow-y: hidden;
}

.app-mobile .sidebar {
  overflow: auto;
}

.sidebar .wrapper {
  padding: 20px 15px;
}

.app-navbar-fixed.app-sidebar-fixed .sidebar {
  top: 0;
}

.sidebar nav {
  min-height: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  z-index: 1089;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 65px;
  border: none;
}

.navbar .loading-bar-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  height: 3px;
}

.navbar .navbar-header {
  position: relative;
  z-index: 10;
  height: 65px;
  border-bottom: 1px solid #c8c7cc;
  background: #fff;
}

.navbar .navbar-header a {
  height: 65px;
  line-height: 65px;
}

.navbar .navbar-header a:focus {
  outline: 0;
  text-decoration: none;
}

.navbar .navbar-header .navbar-brand {
  padding: 0 15px;
}

.navbar .navbar-header .navbar-brand img {
  display: inline-block;
  margin-top: -6px;
  max-width: 100%;
  height: auto;
}

.navbar .navbar-header .menu-toggler {
  padding: 0 15px;
  color: #c8c7cc;
  font-size: 17px;
}

.navbar .navbar-header .sidebar-toggler {
  padding-right: 15px;
  color: #c8c7cc;
  font-size: 17px;
}

.navbar .navbar-header .sidebar-toggler:hover {
  color: #aeacb4;
}

.navbar .navbar-header .sidebar-mobile-toggler {
  padding-right: 15px;
  padding-left: 15px;
  color: #c8c7cc;
  font-size: 17px;
}

.navbar .navbar-header .sidebar-mobile-toggler:hover {
  color: #aeacb4;
}

.navbar .navbar-collapse {
  position: relative;
  padding-right: 15px !important;
  padding-left: 15px !important;
  border-top: none;
  border-bottom: 1px solid #c8c7cc;
  background: #fff;
}

.navbar .navbar-collapse.in {
  overflow-y: visible;
}

.navbar .close-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-height: 40px;
  background: #fff;
  cursor: pointer;
}

.navbar .close-handle .arrow-left,.navbar .close-handle .arrow-right {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 8px;
  border-radius: 10px;
  background-color: #c8c7cc;
  cursor: pointer;
  transition: transform 0.2s ease 0s;
}

.navbar .close-handle .arrow-left {
  transform: translate3d(-8px, 0px, 0px) rotate(-10deg);
}

.navbar .close-handle .arrow-right {
  transform: translate3d(8px, 0px, 0px) rotate(10deg);
}

.navbar .navbar-nav .nav {
  margin: 0;
}

.navbar .navbar-nav .nav .dropdown-light:after,.navbar .navbar-nav .nav .dropdown-dark:after {
  top: -9px;
  right: 36px;
  left: auto;
}

.navbar .navbar-nav .nav .dropdown-light:before,.navbar .navbar-nav .nav .dropdown-dark:before {
  top: -11px;
  right: 35px;
  left: auto;
}

.navbar .navbar-nav .badge {
  position: absolute;
  top: 3px;
  right: auto;
  left: 50%;
  margin-left: 13px;
  padding: 4px 6px;
  background-color: #C82E29;
  color: #fff;
  font-size: 10px;
  transform: translateX(-50%);
}

.navbar .navbar-nav .dot-badge {
  position: absolute !important;
  top: 6px;
  right: auto;
  left: 50%;
  margin: 2px;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 100%;
  transform: translateX(-50%);
}

.navbar .navbar-nav .view-all {
  text-align: center;
}

.navbar .navbar-nav .drop-down-wrapper ul {
  margin: 0;
  padding: 5px 5px 0 5px;
  list-style: none;
}

.navbar .dropdown-off-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  width: 30px;
  border-left: 1px solid #c8c7cc;
  background: #fff;
  color: #c8c7cc;
  line-height: 64px;
}

.navbar .dropdown-off-sidebar:after {
  position: absolute;
  top: 0;
  left: 5px;
  margin: 0;
  padding: 0;
  content: "\e6da";
  font-size: 17px;
  font-family: 'themify';
}

.app-offsidebar-open .navbar .dropdown-off-sidebar:after {
  content: "\e6d9";
}

.navbar .navbar-nav > li > a {
  position: relative;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  color: #8e8e93;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 27px;
  opacity: .9;
}

.navbar .navbar-nav > li > a:hover {
  background: #efeff0;
}

.navbar .navbar-nav > li > a i {
  display: block;
  margin-top: 7px;
  color: #c8c7cc;
  font-size: 17px;
}

.navbar .navbar-nav > li.current-user > a {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: none;
  font-weight: normal;
  font-size: 13px;
}

.navbar .navbar-nav > li.current-user > a img {
  float: left;
  margin-top: -2px;
  margin-right: 5px;
  width: 39px;
  border-radius: 20%;
}

.navbar .navbar-nav > li.current-user > a span {
  float: left;
  margin-top: 3px;
  line-height: 18px;
}

.navbar .navbar-nav > li.current-user > a i {
  margin: 0;
  font-size: 14px;
}

.navbar .navbar-nav .dropdown-menu:before {
  top: -11px;
  right: 35px;
  left: auto;
}

.navbar .navbar-nav .dropdown-menu:after {
  top: -9px;
  right: 36px;
  left: auto;
}

.navbar .navbar-nav .dropdown-menu.dropdown-subview .fa-stack {
  margin-right: 5px;
  height: 1.9em;
  vertical-align: top;
  line-height: 1.9em;
}

.navbar .navbar-nav .dropdown-menu.dropdown-large {
  width: 300px;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: none;
  border-radius: 3px;
  background-color: #f7f7f8;
  color: #8e8e93;
  text-align: left;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a.unread {
  background-color: #edecee;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a:hover,.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a:focus,.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a:active {
  background-color: #e9e8ea;
  text-decoration: none;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a .thread-image {
  float: left;
  margin-right: 8px;
  width: 50px;
  height: 50px;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a .thread-image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a .author {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a .preview {
  display: block;
  color: #aeacb4;
  font-size: 11px;
  line-height: normal;
}

.navbar .navbar-nav .dropdown-menu.dropdown-messages .drop-down-wrapper ul > li a .time {
  display: block;
  float: right;
  color: #aeacb4;
  font-weight: 600;
  font-style: italic;
  font-size: 11px;
}

.panel-red,.partition-red {
  position: relative;
  background-color: #C82E29;
  color: #fff;
}

.dropdown-menu.dropdown-light:before,.dropdown-menu.dropdown-light:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}

.dropdown-menu.dropdown-light:before {
  position: absolute;
  top: -11px;
  left: 10px;
  display: block;
  width: 0;
  height: 0;
  border-width: 11px;
  border-style: solid;
  border-top-width: 0;
  border-bottom-color: rgba(17, 17, 17, 0.15);
  content: "";
}

.dropdown-menu.dropdown-light:after {
  position: absolute;
  top: -9px;
  left: 11px;
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-width: 0;
  border-bottom-color: #FFFFFF;
  content: "";
}

.dropdown-menu.dropdown-dark {
  position: absolute;
  z-index: 1000;
  padding: 0;
  min-width: 166px;
  max-width: 300px;
  border: 1px solid #1a1c1e;
  border-radius: 0;
  background-color: #2B3034;
  box-shadow: none;
  list-style: none outside none;
  text-shadow: none;
}

.dropdown-menu.dropdown-dark:after {
  position: absolute;
  top: -9px;
  left: 10px;
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-width: 0;
  border-bottom-color: #2B3034;
  content: "";
}

.dropdown-menu.dropdown-dark li p,.dropdown-menu.dropdown-dark .drop-down-wrapper li p {
  margin: 0;
  padding: 8px 8px 6px;
  color: #ededed;
  font-weight: 300;
  font-size: 12px;
}

.dropdown-menu.dropdown-dark.dropdown-gift .drop-down-wrapper p {
  padding-right: 10px;
  padding-left: 10px;
}

.dropdown-menu.dropdown-dark.dropdown-gift .drop-down-wrapper p + p {
  padding-top: 2px;
}

.dropdown-menu.dropdown-dark.dropdown-gift li a,.dropdown-menu.dropdown-dark.dropdown-gift .drop-down-wrapper li a {
  color: #ffa500;
  font-weight: 600;
}

.dropdown-menu.dropdown-dark.nav-login-list li p,.dropdown-menu.dropdown-dark.nav-login-list li a,.dropdown-menu.dropdown-dark.nav-login-list .drop-down-wrapper li p,.dropdown-menu.dropdown-dark.nav-login-list .drop-down-wrapper li a {
  display: block;
  margin: 0;
  padding: 8px 8px 6px;
  border-bottom: 1px solid #1a1c1e;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ededed;
  white-space: normal;
  font-weight: 300;
  font-size: 12px;
}

.dropdown-menu.dropdown-dark > li > a:hover,.dropdown-menu.dropdown-dark > li > a:focus,.dropdown-menu.dropdown-dark .dropdown-submenu:hover > a,.dropdown-menu.dropdown-dark .dropdown-submenu:focus > a,.dropdown-menu.dropdown-dark .drop-down-wrapper li a:hover,.dropdown-menu.dropdown-dark .drop-down-wrapper li a:focus {
  outline: 0;
  background-color: #212326;
  text-decoration: none;
}

.main-content {
  position: relative;
  min-height: 100%;
}

.main-content .container {
  display: inline-block;
  max-width: none !important;
  width: 100% !important;
}

.main-content > .container {
  padding-bottom: 50px;
}

.app > footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1088;
  border-top: 1px solid #c8c7cc;
  background-color: #fff;
  font-size: 12px;
  transform: translate3d(0, 0, 0);
}

.app > footer .footer-inner {
  padding: 0 20px;
  line-height: 50px;
}

.app > footer .footer-inner::before,.app > footer .footer-inner::after {
  display: table;
  content: " ";
}

.app > footer .footer-inner::after {
  clear: both;
}

.go-top {
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
}

.main-content-title {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
  padding: 32px 0;
  border-bottom: 1px solid #eee;
}

.main-content-title .row {
  margin: 0 15px;
}

.main-content-title h1,.main-content-title .page-title {
  margin: 0;
  padding: 0;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 28px;
  line-height: 1;
}

.main-content-title .page-description {
  display: block;
  margin-top: 10px;
  color: #777;
  font-weight: 300;
  font-size: 18px;
}

.main-content-title .page-description small {
  display: block;
  margin-top: 10px;
  font-size: 60%;
}

.address-list {
  padding-top: 20px;
}

.address-list__item {
  margin-bottom: 20px;
  border-top: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef;
}

.address-list__item:nth-of-type(n-1) {
  border-right: 1px solid #eceeef;
}

.address-card {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.address-card__header::before,.address-card__header::after {
  display: table;
  content: " ";
}

.address-card__header::after {
  clear: both;
}

.address-card__media {
  float: left;
}

.address-card__title {
  display: table-cell;
  padding: 0.75rem;
  vertical-align: top;
  font-size: 1.2rem;
}

.contact-list__item {
  margin-bottom: 30px;
}

.contact-item__media {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.contact-item__media img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  transition: .5s ease;
  transform: scale(1);
}

.contact-item__media:hover {
  background-color: #1ccdca;
}

.contact-item__media:hover img {
  opacity: 0.5;
  transform: scale(1.3);
}

.contact-item__media:hover .contact-item__image:before {
  animation: shine .75s;
}

.contact-item__media:hover .contact-item__target {
  transform: scale(1) rotate(0);
}

.contact-item__image {
  position: relative;
}

.contact-item__image:before {
  position: absolute;
  top: 0;
  left: -90%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: '';
  transform: skewX(-25deg);
}

.contact-item__hover {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

.contact-item__hover-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.contact-item__hover-content {
  display: table-cell;
  padding-bottom: 20px;
  vertical-align: bottom;
  text-align: center;
}

.contact-item__target {
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
  padding: 5px 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-style: italic;
  font-size: 13px;
  opacity: 1;
  transition: all 0.4s ease;
  transform: scale(0) rotate(20deg);
}

.contact-item__target:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #1ccdca;
  text-decoration: none;
}

.contact-item__content {
  margin-top: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.contact-item__title {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1rem;
}

.contact-item__description {
  color: #999;
  font-size: 12px;
}

.purchase-list__item {
  border: 1px solid #337ab7;
}

.purchase-list__item + .purchase-list__item {
  margin-top: 20px;
}

.purchase-list__item-heading {
  position: relative;
  padding-right: 40px;
  padding-left: 10px;
  height: 40px;
  background: #337ab7;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}

.purchase-list__title-wrap {
  text-align: right;
}

.purchase-list__title {
  float: left;
}

.purchase-list__item-content {
  display: none;
}

.purchase-list__item-footer {
  padding: 10px;
  border-top: 1px solid #c8c7cc;
}

.purchase-list .btn {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 10rem;
  font-size: 0.9rem;
}

.purchase-list .btn i {
  margin-right: 5px;
}

.purchase-list__handler {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.purchase-list__handler:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -6px;
  margin-left: -10px;
  width: 20px;
  height: 12px;
  background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNjguNiAzNy4yIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2OC42IDM3LjIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmZmZmIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSI2Ny4yLDEuNCAzNC4zLDM0LjMgMS40LDEuNCAiLz4KPC9zdmc+Cg==) no-repeat 0 0;
  content: "";
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.is-opened .purchase-list__handler:before {
  transform: rotate(-180deg);
}

.purchase-item {
  border-top: 1px solid #337ab7;
}

.purchase-item__header {
  display: flex;
  box-sizing: border-box;

  flex-flow: row;
  justify-content: space-between;
}

.purchase-item__header-item_left {
  position: relative;
  padding: 10px 10px 10px 34px;
  cursor: pointer;

  flex-wrap: nowrap;
  flex-basis: 100%;
}

.purchase-item__header-item_right {
  box-sizing: border-box;
  padding: 10px;
  text-align: right;

  flex: 0 0 auto;
}

.purchase-item__icon-handler {
  position: absolute;
  top: 14px;
  left: 10px;
  color: #1C2B36;
}

.js-drop-handler.is-opened .purchase-item__icon-handler:before {
  content: "\e622";
}

.purchase-item__content {
  display: none;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 10px 10px 24px;
  border-top: 1px solid #c8c7cc;
}

.purchase-item__list-row {
  margin-bottom: 10px;
}

.purchase-item__list-title::before,.purchase-item__list-title::after {
  display: table;
  content: " ";
}

.purchase-item__list-title::after {
  clear: both;
}

.purchase-item__list-label {
  float: left;
}

.purchase-item__list-name {
  display: table-cell;
  padding-left: 6px;
  vertical-align: top;
  font-weight: 600;
}

.purchase-item__map-list::before,.purchase-item__map-list::after {
  display: table;
  content: " ";
}

.purchase-item__map-list::after {
  clear: both;
}

.purchase-item__map-list + .purchase-item__map-list {
  margin-top: 6px;
}

.purchase-item__map-list-title {
  font-weight: 600;
}

.purchase-item__map-list-label {
  float: left;
}

.purchase-item__map-list-text {
  display: table-cell;
  padding-left: 6px;
  vertical-align: top;
}

.purchase-item__map-list-text span {
  display: inline-block;
  padding-right: 4px;
  white-space: nowrap;
}

.purchase-item__map-list-handler {
  float: left;
  padding-left: 6px;
  font-weight: 600;
  cursor: pointer;
}

.purchase-item__map-list-handler.is-danger {
  color: #d9534f;
}

.purchase-item__map-list-handler.is-warning {
  color: #f0ad4e;
}

.purchase-item__map-list-handler.is-info {
  color: #5bc0de;
}

.purchase-item__product-list-handler {
  cursor: pointer;
}

.purchase-item__product-list-handler i {
  position: relative;
  top: 2px;
  margin-left: 4px;
}

.is-opened > .purchase-item__product-list-handler i:before {
  content: "\e648";
}

.purchase-item__product-list-content {
  display: none;
  margin-top: 5px;
}

.purchase-item__price {
  display: inline-flex;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 700;
}

.purchase-product-list {
  display: table;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  table-layout: fixed;
}

.purchase-product-list_header {
  padding-top: 5px;
  background: #f7f7f8;
}

.purchase-product-list_header .purchase-product-list__item {
  font-weight: 600;
}

.purchase-product-list__item {
  display: table-cell;
  vertical-align: top;
}

.purchase-product-list__item_image {
  width: 100px;
  text-align: center;
}

.purchase-product-list__item_price {
  width: 100px;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
}

.purchase-product-list__item_count {
  width: 70px;
  vertical-align: middle;
  text-align: center;
}

.purchase-product-list__img {
  display: inline-block;
  max-width: 90%;
  max-height: 100px;
  height: auto;
  vertical-align: middle;
}

.purchase-product-list__content {
  padding: 10px;
}

.purchase-product-list + .purchase-product-list {
  padding-top: 10px;
  border-top: medium none;
}

.ps-container .ps-scrollbar-x-rail:hover,.ps-container .ps-scrollbar-x-rail.hover {
  background-color: #eee !important;
}

.ps-container .ps-scrollbar-y-rail {
  width: 4px !important;
  -webkit-transition: all 300ms !important;
  -moz-transition: all 300ms !important;
  -o-transition: all 300ms !important;
  transition: all 300ms !important;
}

.ps-container .ps-scrollbar-y {
  width: 4px !important;
  -webkit-transition: all 300ms !important;
  -moz-transition: all 300ms !important;
  -o-transition: all 300ms !important;
  transition: all 300ms !important;
}

.ps-container:hover .ps-scrollbar-y-rail,.ps-container.hover .ps-scrollbar-y-rail {
  width: 4px !important;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  -webkit-transition: all 300ms !important;
  -moz-transition: all 300ms !important;
  -o-transition: all 300ms !important;
  transition: all 300ms !important;
}

.ps-container .ps-scrollbar-y-rail:hover,.ps-container .ps-scrollbar-y-rail.hover,.ps-container .ps-scrollbar-y-rail.in-scrolling {
  width: 10px !important;
  background-color: #eee;
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y,.ps-container .ps-scrollbar-y-rail.in-scrolling .ps-scrollbar-y {
  width: 10px !important;
  background-color: #999;
}

.perfect-scrollbar {
  position: relative;
  overflow-y: hidden !important;
}

.touch .perfect-scrollbar {
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
}

.modal-backdrop {
  z-index: 9998 !important;
}

.modal,.modal-dialog {
  z-index: 9999 !important;
}

.map-wrap {
  position: relative;
  height: 400px;
}

.map-wrap__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-wrap__nav {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 260px;
  background-color: #fff;
}

.map-wrap__nav-cover {
  position: relative;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 22px 7px 10px;
  width: 260px;
  border: 1px solid #c8c7cc;
  background-color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
}

.map-wrap__nav-cover:after {
  position: absolute;
  top: 50%;
  right: 6px;
  display: inline-block;
  margin-top: -6px;
  width: 16px;
  height: 12px;
  color: #c8c7cc;
  content: "\e64b";
  text-align: center;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  font-family: themify;
  line-height: 1;

  speak: none;
}

.map-wrap__nav.is-open .map-wrap__nav-cover:after {
  content: "\e648";
}

.map-wrap__nav-content {
  position: relative;
  box-sizing: border-box;
  padding-right: 10px;
}

.map-wrap__nav-content:before,.map-wrap__nav-content:after {
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  margin-right: auto;
  margin-left: auto;
  width: 0;
  content: '';
}

.map-wrap__nav-content:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.map-wrap__nav-content:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #c8c7cc;
  border-left: 7px solid transparent;
}

.map-wrap__nav-scrollbar {
  overflow-y: hidden !important;
  box-sizing: border-box;
  height: 400px;
}

.map-wrap__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.map-wrap__nav-list-item {
  position: relative;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 7px;
  cursor: pointer;
}

.map-wrap__nav-list-item:before {
  position: absolute;
  top: 18px;
  right: 4px;
  display: none;
  color: #449d44;
  content: "\e64c";
  font-size: 16px;
  font-family: themify;
  line-height: 1;
}

.map-wrap__nav-list-item.is-active:before {
  display: block;
}

.map-wrap__nav-list-item + .map-wrap__nav-list-item {
  border-top: 1px solid #c8c7cc;
}

.map-wrap__nav-list-item:hover .map-wrap__nav-title {
  color: #014c8c;
}

.map-wrap__nav-title {
  margin-bottom: 0.15rem;
  font-size: 1rem;
}

.map-wrap__nav-text {
  margin-bottom: 0.2rem;
  color: #8e8e93;
  font-size: 0.85rem;
}

.map-wrap__cluster {
  width: 28px;
  height: 28px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
}

.map-wrap__balloon {
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
}

.map-wrap__balloon .btn {
  margin-top: 12px;
  width: 100%;
}

.map-wrap__balloon-address {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.full-page {
  display: table;
  min-height: 100%;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.full-page__wrap {
  display: table-cell;
  vertical-align: middle;
}

.full-page__footer {
  position: fixed;
  bottom: 0;
  padding: 10px 20px 0;
  width: 100%;
  border-top-color: rgba(0, 0, 0, 0.2);
  background: #1C2B36;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.login-box {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.login-box__media img {
  max-width: 100%;
  height: auto;
}

.login-box__title {
  margin-top: 20px;
}

.login-box__social {
  font-size: 5rem;
}

.login-box__social a {
  color: inherit;
  text-decoration: none;
  transition: all 300ms ease-in 0s;
}

.login-box__social a:focus {
  outline: 0 none;
}

.login-box__social .fa-vk {
  color: #5F8295;
}

.login-box__social .fa-vk:hover {
  color: #4f6c7c;
}

.login-box__social .fa-facebook {
  color: #3a5a98;
}

.login-box__social .fa-facebook:hover {
  color: #2f497a;
}

.error-box__number {
  display: block;
  margin-top: 0;
  text-align: center;
  letter-spacing: -10px;
  font-weight: 300;
  font-size: 12rem;
  line-height: 12rem;
}

.error-box__details {
  padding-top: 10px;
  text-align: center;
}

.error-box .btn-return {
  margin: 10px 0;
}

.the-icons {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.the-icons .fa-hover {
  display: block;
  padding-left: 10px;
  height: 32px;
  color: #8B91A0;
  line-height: 32px;
  cursor: pointer;
  transition: font-size, 0.2s, ease 0s;
}

.the-icons .fa-hover:hover {
  font-size: 1.1rem;
}

.the-icons .fa-hover:hover .fa,.the-icons .fa-hover:hover [class*="ti-"] {
  font-size: 1.1rem;
}

.the-icons .fa-hover .fa,.the-icons .fa-hover [class*="ti-"] {
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  color: inherit;
  text-align: right;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .navbar .navbar-header {
    display: flex;
    flex-direction: row;
  }

  .navbar .navbar-collapse {
    height: 65px !important;
  }

  .navbar .navbar-collapse .nav {
    height: auto !important;
  }

  .navbar .navbar-nav > li > a {
    margin-right: 3px;
  }

  .navbar .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .navbar .navbar-nav {
    position: relative;
    margin-right: 1px 35px 0 0;
  }
}

@media (min-width: 992px) {
  .app-navbar-fixed {
    padding-top: 65px;
  }

  .app-sidebar-closed .sidebar > div nav > ul li ul.sub-menu {
    display: none !important;
  }

  .app-sidebar-closed ul.sub-menu {
    position: absolute;
    bottom: auto;
    left: 70px;
    z-index: 1050;
    display: none;
    overflow-x: visible;
    overflow-y: auto;
    padding: 1px 0;
    width: 260px;
    height: auto;
    border-right: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
    background: #fff;
  }

  .app-sidebar-closed ul.sub-menu > li a {
    padding-right: 5px;
    padding-left: 20px !important;
  }

  .app-sidebar-closed ul.sub-menu > li ul.sub-menu {
    position: relative;
    left: 0;
    width: 100%;
    border: none !important;
  }

  .app-sidebar-closed ul.sub-menu > li ul.sub-menu li a {
    padding-left: 30px !important;
  }

  .app-sidebar-closed ul.sub-menu > li ul.sub-menu li ul.sub-menu li a {
    padding-left: 50px !important;
  }

  .app-sidebar-closed .app-aside {
    overflow: visible !important;
  }

  .app-sidebar-closed .app-aside .search-form {
    border-bottom: 1px solid #c8c7cc;
    background: #e2e2e4;
  }

  .app-sidebar-closed .app-aside .search-form > a {
    display: block;
    padding: 13px 15px;
    height: 45px;
    color: #aeacb4;
    text-align: center;
    font-size: 17px;
  }

  .app-sidebar-closed .app-aside .search-form .navbar-form {
    display: none;
  }

  .app-sidebar-closed .app-aside li a .icon-arrow {
    float: right;
    margin-right: 6px !important;
    color: #c8c7cc;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
  }

  .app-sidebar-closed .app-aside li a .icon-arrow:before {
    content: "\e64a";
    font-family: themify;
  }

  .app-sidebar-closed .app-aside li.open > a .icon-arrow {
    opacity: 1;
  }

  .app-sidebar-closed .app-aside li.open > a .icon-arrow:before {
    content: "\e64b";
  }

  .app-sidebar-closed .app-aside > .item-inner {
    top: 0;
    left: 70px;
    z-index: 1051;
    margin-left: 0;
    padding: 13px 0;
    width: 260px;
    border-bottom: none !important;
    background: #efeff0;
  }

  .app-sidebar-closed .app-aside > .item-inner.active {
    background: #c8c7cc !important;
  }

  .app-sidebar-closed .app-aside > .item-inner:before {
    position: absolute;
    top: 11px;
    left: 0;
    z-index: 1;
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: none;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #c8c7cc;
    background: none;
    content: "";
  }

  .app-sidebar-closed .app-aside > .item-inner:after {
    position: absolute;
    top: 11px;
    left: -1px;
    z-index: 1;
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #efeff0;
    background: none;
    content: "";
  }

  .app-sidebar-closed .app-aside > .item-inner .title {
    margin-left: 20px;
    color: #aeacb4 !important;
    font-size: 14px;
  }

  .app-sidebar-closed .app-aside > .item-inner .icon-arrow {
    display: none;
  }

  .app-sidebar-closed .app-aside > ul.sub-menu {
    left: 70px;
    display: block !important;
    overflow: auto;
    padding: 0;
    width: 260px;
  }

  .app-sidebar-closed .app-aside > ul.sub-menu > li a {
    color: #8e8e93;
    font-size: 14px;
  }

  .sidebar {
    margin-top: 65px;
  }

  .sidebar nav {
    border-right: 1px solid #c8c7cc;
  }

  .app-navbar-fixed .sidebar {
    margin-top: 0;
  }

  .app-sidebar-fixed .sidebar {
    position: fixed;
    top: 65px !important;
    margin-top: 0;
  }

  .app-sidebar-closed .sidebar {
    width: 70px;
  }

  .navbar .navbar-header {
    float: left;
    width: 260px;
    border-right: 1px solid #c8c7cc;
  }

  .app-navbar-fixed .navbar .navbar-collapse,.app-navbar-fixed .navbar .navbar-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .app-navbar-fixed .navbar .dropdown-off-sidebar {
    position: fixed;
    top: 0;
  }

  .app-sidebar-closed .navbar .navbar-header {
    width: 70px;
  }

  .app-sidebar-closed .navbar .navbar-header .navbar-brand {
    display: none;
  }

  .app-sidebar-closed .navbar .navbar-header .sidebar-toggler {
    display: block;
    float: none !important;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .app-sidebar-closed .navbar .navbar-collapse {
    margin-left: 70px;
  }

  .app-sidebar-fixed .navbar .navbar-header {
    position: fixed;
    top: 0;
  }

  .app-offsidebar-open .navbar .dropdown-off-sidebar {
    position: fixed;
  }

  .navbar .navbar-nav {
    position: relative;
    margin: 1px 15px 0 0;
  }

  .main-content {
    margin-top: 65px;
    margin-left: 260px;
  }

  .app-navbar-fixed .main-content {
    margin-top: 0;
  }

  .app-navbar-fixed .main-content::before,.app-navbar-fixed .main-content::after {
    display: table;
    content: " ";
  }

  .app-navbar-fixed .main-content::after {
    clear: both;
  }

  .app-sidebar-closed .main-content {
    margin-left: 70px;
  }

  .app > footer {
    margin-left: 260px;
  }

  .app.app-sidebar-closed > footer {
    margin-left: 70px;
  }

  .app.app-footer-fixed > footer {
    position: fixed;
  }

  .address-list__item:nth-child(3n-2) {
    border-left: 1px solid #eceeef;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .app-sidebar-closed .sidebar > div nav > ul {
    padding: 1px 0;
  }

  .no-touch .app-sidebar-closed .sidebar > div nav > ul li {
    transition: background-color 0ms linear;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li.open {
    background: inherit;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li.hover {
    background: #efeff0;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li.active:before {
    border-right: none !important;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li.active:after {
    border-right: none !important;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li.active:hover:after {
    border-left-color: #c8c7cc;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li.active a {
    margin: 0 !important;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li > a {
    display: block;
    height: 45px;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li > a i:not([class*="fa-stack"]) {
    font-size: 17px;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li > a .item-content {
    display: block;
    padding-left: 0;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li > a .item-media {
    display: block;
    padding: 13px 15px;
    text-align: center;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li > a .item-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70px;
    display: none;
    margin-left: 0;
    padding: 13px 0;
    width: 260px;
    border-bottom: none !important;
    background: #efeff0;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li > a .item-inner .title {
    margin-left: 20px;
    color: #aeacb4 !important;
  }

  .app-sidebar-closed .sidebar > div nav > ul > li > a .item-inner .icon-arrow {
    display: none;
  }

  .app-sidebar-closed .sidebar .s-open {
    width: 70px;
  }

  .app-sidebar-closed .sidebar .navbar-form {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 45px;
  }

  .app-sidebar-closed .sidebar .navbar-form .s-remove,.app-sidebar-closed .sidebar .navbar-form .form-group {
    display: block;
  }

  .app-sidebar-closed .sidebar .navbar-form a {
    display: block;
    padding: 3px 0;
    color: #aeacb4;
    text-align: center;
    font-size: 17px;
  }

  .app-sidebar-closed .sidebar .navbar-form a.s-remove {
    display: none;
  }

  .app-sidebar-closed .sidebar .navbar-form .form-group {
    position: absolute;
    top: 0;
    top: -1px;
    bottom: -1px;
    left: 69px;
    z-index: 1;
    display: none;
    padding: 10px 10px 10px 0;
    width: 210px;
    border-top: 1px solid #c8c7cc;
    border-right: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
    background: #e2e2e4;
  }

  .app-sidebar-closed .sidebar .navbar-form .form-group input {
    background: rgba(255, 255, 255, 0.3);
  }

  .app-sidebar-closed .sidebar .navbar-form .form-group .search-button {
    top: 8px;
  }

  .app-sidebar-closed .sidebar > .navbar-form .s-remove {
    display: block !important;
    padding: 3px 0;
    text-align: center;
  }

  .app-sidebar-closed .sidebar > .navbar-form .form-group {
    display: block !important;
  }

  .app-sidebar-closed .sidebar .navbar-title {
    display: none;
  }

  .sidebar:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    border: inherit;
    border-right: 1px solid #c8c7cc;
    background-color: inherit;
    content: "";
  }
}

@media (max-width: 991px) {
  .app {
    width: 100%;
  }

  .app .app-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 300ms ease 0s;
  }

  .app.app-slide-off > .app-content {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: transform 300ms ease 0s;
    transform: translate3d(260px, 0, 0);
  }

  .app.app-slide-off > #off-sidebar {
    transition: transform 300ms ease 0s;
    transform: translate3d(260px, 0, 0);
  }

  .app.app-offsidebar-open > .app-content {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: transform 300ms ease 0s;
    transform: translate3d(-260px, 0, 0);
  }

  .navbar-title {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .sidebar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 0;
    float: none;
    transition: transform 300ms ease 0s;
    transform: translate3d(-260px, 0, 0);
  }

  .app-slide-off .sidebar {
    transition: transform 300ms ease 0s;
    transform: translate3d(0, 0, 0);
  }

  .sidebar nav {
    border-right: none !important;
  }

  .sidebar > .sidebar-container {
    position: relative;
    overflow-x: visible;
    overflow-y: hidden;
  }

  .app-slide-off .navbar,.app-offsidebar-open .navbar {
    position: absolute !important;
  }

  .navbar {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }

  .navbar .dropdown-off-sidebar {
    width: 50px;
  }

  .navbar .dropdown-off-sidebar:after {
    left: 15px;
  }

  .main-content {
    padding-top: 65px;
  }

  .app.app-slide-off > footer,.app.app-offsidebar-open > footer {
    display: none;
  }

  .address-list__item:nth-child(2n-1) {
    border-left: 1px solid #eceeef;
  }

  .map-wrap {
    height: 360px;
  }

  .map-wrap__nav {
    top: -10px;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 0 10px;
    width: 100%;
  }

  .map-wrap__nav-cover {
    display: block;
  }

  .map-wrap__nav-content {
    position: absolute;
    top: 41px;
    right: 0;
    left: 0;
    display: none;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 260px;
    height: 280px;
    border: 1px solid #c8c7cc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .map-wrap__nav.is-open .map-wrap__nav-content {
    display: block;
  }

  .map-wrap__nav-content:before,.map-wrap__nav-content:after {
    display: inline-block;
  }

  .map-wrap__nav-scrollbar {
    height: 260px;
  }

  .map-wrap__nav-list-item {
    padding-top: 6px;
    padding-left: 6px;
  }

  .map-wrap__nav-list-item:before {
    top: 8px;
  }

  .map-wrap__nav-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .map-wrap__nav-text {
    display: none;
  }
}

@media (max-width: 768px) {
  .container-fullw {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .navbar .navbar-header .navbar-brand {
    margin-right: 0;
    padding-right: 5px;
    padding-left: 5px;
    width: 200px;
  }

  .navbar .navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .navbar .navbar-collapse .nav {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .navbar .navbar-nav > li {
    border-bottom: 1px solid #c8c7cc;
  }

  .navbar .navbar-nav > li:last-child {
    margin-bottom: 40px;
  }

  .navbar .navbar-nav > li.current-user a {
    display: block;
    float: none;
  }

  .navbar .navbar-nav > li.current-user a img {
    display: inline-block;
    float: none;
    margin-right: 0;
  }

  .navbar .navbar-nav > li.current-user a span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: none;
    margin-top: 0;
    font-size: 0;
    line-height: 0px;
  }

  .navbar .navbar-nav > li.current-user a i {
    margin: 10px auto;
    width: 39px;
    height: 39px;
    border-radius: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff !important;
    font-size: 14px;
    line-height: 60px;
    line-height: 39px;
    transition: opacity 0.3s ease;
  }

  .navbar .navbar-nav > li.current-user a:after {
    display: none;
  }

  .navbar .navbar-nav > li.current-user.open i,.navbar .navbar-nav > li.current-user a:hover i {
    opacity: 0;
  }

  .navbar .navbar-nav .dropdown-menu {
    position: relative;
    margin: 0;
    max-width: 100% !important;
    width: 100% !important;
    border-right: none;
    border-bottom: none;
    border-left: none;
    box-shadow: none;
  }

  .navbar .navbar-nav .dropdown-menu:before {
    left: 50% !important;
    transform: translateX(-50%);
  }

  .navbar .navbar-nav .dropdown-menu:after {
    left: 50% !important;
    transform: translateX(-50%);
  }

  .navbar .navbar-nav > li {
    float: left;
    width: 100%;
  }

  .main-content-title {
    padding: 20px 0;
    text-align: center;
  }

  .main-content-title h1,.main-content-title .page-title {
    font-size: 24px;
  }

  .contact-item__target {
    transform: scale(1) rotate(0);
  }

  .purchase-item__header {
    flex-flow: column;
  }

  .purchase-item__header-item_right {
    display: flex;
    padding-top: 0;

    justify-content: space-between;
    align-items: center;
  }

  .purchase-item__content {
    padding-right: 0;
    padding-left: 0;
  }

  .purchase-item__list-row {
    margin-bottom: 6px;
  }

  .purchase-item__product-list-handler {
    font-size: 0.85rem;
  }

  .purchase-product-list {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .purchase-product-list_header .purchase-product-list__item {
    font-size: 0.85rem;
  }

  .purchase-product-list__item {
    font-size: 0.85rem;
  }

  .purchase-product-list__item_image {
    width: 60px;
  }

  .purchase-product-list__item_price {
    width: 80px;
  }

  .purchase-product-list__item_count {
    width: 50px;
  }

  .purchase-product-list + .purchase-product-list {
    padding-top: 5px;
  }

  .full-page__wrap {
    vertical-align: top;
  }

  .login-box {
    margin-top: 60px;
    max-width: 280px;
  }

  .error-box {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .address-list__item:nth-child(2n) {
    border-left: 1px solid #eceeef;
  }

  .purchase-product-list {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .purchase-product-list__item {
    display: flex;
  }

  .purchase-product-list__item_image {
    display: none;
  }

  .purchase-product-list__item_text {
    flex-wrap: nowrap;
    flex-basis: 100%;
  }

  .purchase-product-list__item_price {
    padding-bottom: 5px;
    padding-left: 10px;

    flex: 0 0 70%;
  }

  .purchase-product-list__item_count {
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: right;

    flex: 0 0 30%;
  }

  .purchase-product-list__content {
    box-sizing: border-box;
    width: 100%;
  }
}

@keyframes shake {
  0%,35%,100% {
    transform: translate3d(0, 0, 0);
  }

  5%,15%,25% {
    transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  10%,20%,30% {
    transform: translate3d(5px, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
